
*.pyc
*~
color_emoji/waveflag
packages
build
dist
*.egg-info/
venv/
.eggs/
nototools/_version.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/
.dccache
.vscode/
